<a href="https://colab.research.google.com/github/gunjanak/Commercial_banks_Nepse/blob/main/analysis_2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#load data

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/project/Project_pipeline/Set V/General_1_feature/Data2/record_2015-01-01.csv")

In [ ]:
df.head()

   Unnamed: 0 Company   Sector  ...  Train_time  Predict_time      MAPE
0           0    ADBL  Banking  ...   22.942409     96.245464  0.025480
1           1    ADBL  Banking  ...   20.680015     86.962557  0.037913
2           2    ADBL  Banking  ...   17.607182     89.603245  0.036219
3           3    ADBL  Banking  ...   22.882015     89.880294  0.019725
4           4    BOKL  Banking  ...   17.934201     65.765664  0.019382

[5 rows x 10 columns]

In [ ]:
df.tail()

     Unnamed: 0 Company   Sector  ...  Train_time  Predict_time      MAPE
103         103     SCB  Banking  ...   24.018737     87.982295  0.023807
104         104    SRBL  Banking  ...   22.749892     88.977405  0.022537
105         105    SRBL  Banking  ...   16.760595     87.233118  0.041141
106         106    SRBL  Banking  ...   18.103448     87.298383  0.038389
107         107    SRBL  Banking  ...   24.131914     88.868898  0.022314

[5 rows x 10 columns]

In [ ]:
df1 = df

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df2 = df1.drop(['Unnamed: 0'], axis = 1)

In [ ]:
df2.head()

  Company   Sector  Epochs  Features  ...  Model Train_time  Predict_time      MAPE
0    ADBL  Banking     100         1  ...  BLSTM  22.942409     96.245464  0.025480
1    ADBL  Banking     100         1  ...   LSTM  20.680015     86.962557  0.037913
2    ADBL  Banking     100         1  ...    GRU  17.607182     89.603245  0.036219
3    ADBL  Banking     100         1  ...   BGRU  22.882015     89.880294  0.019725
4    BOKL  Banking     100         1  ...  BLSTM  17.934201     65.765664  0.019382

[5 rows x 9 columns]

In [ ]:
df3 = df2.drop(['Epochs','Features','Lookback'], axis = 1)

In [ ]:
df3.head()

  Company   Sector  Model  Train_time  Predict_time      MAPE
0    ADBL  Banking  BLSTM   22.942409     96.245464  0.025480
1    ADBL  Banking   LSTM   20.680015     86.962557  0.037913
2    ADBL  Banking    GRU   17.607182     89.603245  0.036219
3    ADBL  Banking   BGRU   22.882015     89.880294  0.019725
4    BOKL  Banking  BLSTM   17.934201     65.765664  0.019382

In [ ]:
print(df3[df3.MAPE == df3.MAPE.min()])

   Company   Sector  Model  Train_time  Predict_time      MAPE
60     NBL  Banking  BLSTM   22.759619     90.908038  0.014821

In [ ]:
print(df3[df3.MAPE == df3.MAPE.max()])

   Company   Sector Model  Train_time  Predict_time      MAPE
33    JBNL  Banking  LSTM   10.742756     40.000539  0.049788

In [ ]:
print(df3[df3.Train_time == df3.Train_time.min()])

   Company   Sector Model  Train_time  Predict_time      MAPE
33    JBNL  Banking  LSTM   10.742756     40.000539  0.049788

#Selecting rows of 'BLSTM'

In [ ]:
df_blstm = df3.loc[df['Model'] == 'BLSTM']

In [ ]:
df_blstm.head()

   Company   Sector  Model  Train_time  Predict_time      MAPE
0     ADBL  Banking  BLSTM   22.942409     96.245464  0.025480
4     BOKL  Banking  BLSTM   17.934201     65.765664  0.019382
8     CCBL  Banking  BLSTM   21.200470     90.690122  0.022426
12   CZBIL  Banking  BLSTM   21.546666     87.453015  0.020353
16     CBL  Banking  BLSTM   19.689897     78.598536  0.017689

In [ ]:
len(df_blstm)

27

In [ ]:
print(df_blstm[df_blstm.MAPE == df_blstm.MAPE.min()])

   Company   Sector  Model  Train_time  Predict_time      MAPE
60     NBL  Banking  BLSTM   22.759619     90.908038  0.014821

In [ ]:
print(df_blstm[df_blstm.MAPE == df_blstm.MAPE.max()])

   Company   Sector  Model  Train_time  Predict_time      MAPE
32    JBNL  Banking  BLSTM     13.6157     39.864531  0.038825

In [ ]:
df_blstm["MAPE"].mean()

0.023473692164318518

In [ ]:
df_blstm["Train_time"].mean()

20.544267018636067

#Selecting rows of 'LSTM'

In [ ]:
df_lstm = df3.loc[df3['Model'] == 'LSTM']

In [ ]:
df_lstm.head()

   Company   Sector Model  Train_time  Predict_time      MAPE
1     ADBL  Banking  LSTM   20.680015     86.962557  0.037913
5     BOKL  Banking  LSTM   13.613980     65.254683  0.038591
9     CCBL  Banking  LSTM   16.541698     88.561558  0.036456
13   CZBIL  Banking  LSTM   17.619791     87.389959  0.039742
17     CBL  Banking  LSTM   15.621097     78.592688  0.033561

In [ ]:
print(df_lstm[df_lstm.MAPE == df_lstm.MAPE.min()])

   Company   Sector Model  Train_time  Predict_time      MAPE
93  SANIMA  Banking  LSTM   17.728958     89.582652  0.032208

In [ ]:
print(df_lstm[df_lstm.MAPE == df_lstm.MAPE.max()])

   Company   Sector Model  Train_time  Predict_time      MAPE
33    JBNL  Banking  LSTM   10.742756     40.000539  0.049788

In [ ]:
df_lstm["MAPE"].mean()

0.038795315609737875

In [ ]:
df_lstm["Train_time"].mean()

15.999240610334608

#Selecting rows of 'BGRU'

In [ ]:
df_bgru = df3.loc[df3['Model'] == 'BGRU']

In [ ]:
df_bgru.head()

   Company   Sector Model  Train_time  Predict_time      MAPE
3     ADBL  Banking  BGRU   22.882015     89.880294  0.019725
7     BOKL  Banking  BGRU   18.938428     64.309788  0.026799
11    CCBL  Banking  BGRU   23.321937     89.261801  0.017689
15   CZBIL  Banking  BGRU   24.573951     89.134688  0.019485
19     CBL  Banking  BGRU   23.098755     78.636944  0.016378

In [ ]:
print(df_bgru[df_bgru.MAPE == df_bgru.MAPE.min()])

   Company   Sector Model  Train_time  Predict_time      MAPE
63     NBL  Banking  BGRU   23.362008     89.240058  0.014841

In [ ]:
print(df_bgru[df_bgru.MAPE == df_bgru.MAPE.max()])

   Company   Sector Model  Train_time  Predict_time      MAPE
99     SBL  Banking  BGRU   16.892412     81.803746  0.027545

In [ ]:
df_bgru["MAPE"].mean()

0.021194561389579605

In [ ]:
df_bgru["Train_time"].mean()

22.001915843398482

#Selecting rows of 'GRU'

In [ ]:
df_gru = df3.loc[df3['Model'] == 'GRU']

In [ ]:
df_gru.head()

   Company   Sector Model  Train_time  Predict_time      MAPE
2     ADBL  Banking   GRU   17.607182     89.603245  0.036219
6     BOKL  Banking   GRU   14.073690     64.720116  0.035402
10    CCBL  Banking   GRU   17.542810     89.368036  0.035653
14   CZBIL  Banking   GRU   18.724001     89.859324  0.035264
18     CBL  Banking   GRU   17.460169     80.041458  0.031917

In [ ]:
print(df_gru[df_gru.MAPE == df_gru.MAPE.min()])

   Company   Sector Model  Train_time  Predict_time      MAPE
26   GBIME  Banking   GRU    16.26679     79.580102  0.031169

In [ ]:
print(df_gru[df_gru.MAPE == df_gru.MAPE.max()])

   Company   Sector Model  Train_time  Predict_time      MAPE
78     SBI  Banking   GRU   18.048981     86.832594  0.044572

In [ ]:
df_gru["MAPE"].mean()

0.03680930090439022

In [ ]:
df_gru["Train_time"].mean()

16.75773602944833

In [ ]:
df.tail()

     Unnamed: 0 Company   Sector  ...  Train_time  Predict_time      MAPE
103         103     SCB  Banking  ...   24.018737     87.982295  0.023807
104         104    SRBL  Banking  ...   22.749892     88.977405  0.022537
105         105    SRBL  Banking  ...   16.760595     87.233118  0.041141
106         106    SRBL  Banking  ...   18.103448     87.298383  0.038389
107         107    SRBL  Banking  ...   24.131914     88.868898  0.022314

[5 rows x 10 columns]